# Python
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.db
.env
.venv

# Node
frontend/node_modules/
dist/
build/

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Logs
*.log
pip-log.txt

# Static uploads
backend/static/inputs/
backend/static/outputs/
backend/static/avatars/
